.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: @bg-gray-color-2;
  box-sizing: border-box;
}

.scrollarea {
  flex: 1;
  overflow-y: auto;
}

.instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22rpx;
  color: @pink-color;
  font-size: @fs-2;
  .icon {
    width: 32rpx;
    height: 32rpx;
    margin-right: 6rpx;
  }
}

.coupon-list {
  // padding: 0 20rpx 10rpx 20rpx;
  margin-top: 12rpx;
}

.coupon-card {
  padding: 12rpx 0;
  width: 100%;
  height: 200rpx;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .coupon-card-bg {
    width: 100%;
    height: 264rpx;
    object-fit: cover;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    height: 200rpx;
    position: absolute;
    padding: 0 24rpx;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .left {
    box-sizing: border-box;
    width: 220rpx;
    flex-shrink: 0;
    padding-left: 36rpx;
    .yuan {
      font-size: 48rpx;
    }
    .amount {
      font-size: 80rpx;
    }
  }
  .right {
    padding: 0 32rpx;
    .title {
      font-weight: 600;
      font-size: @fs-1;
      margin-bottom: 10rpx;
    }
    .deadline {
      color: @fc-gray2;
      font-size: 24rpx;
      margin-bottom: 4rpx;
    }
    .description {
      color: @fc-gray2;
      font-size: 24rpx;
    }
  }
  .seal {
    position: absolute;
    top: 40rpx;
    right: 60rpx;
    border: 1px solid @fc-gray3;
    padding: 4rpx 10rpx;
    color: @fc-gray3;
    transform: rotate(-20deg);
    z-index: 1;
  }
  .red {
    border: 1px solid @pink-color;
    color: @pink-color;
  }
}